services:
	userCrud:
		factory: @doctrine.crud(IPubTests\Doctrine\Models\UserEntity)
	articleCrud:
		factory: @doctrine.crud(IPubTests\Doctrine\Models\ArticleEntity)

	usersManager:
		class: IPubTests\Doctrine\Models\UsersManager(@userCrud)
	articlesManager:
		class: IPubTests\Doctrine\Models\ArticlesManager(@articleCrud)

doctrine:
	metadata:
		IPubTests\Doctrine: %appDir%IPubTests/Doctrine/models
