services:
	userCrud:
		factory: @doctrine.crud(IPubTests\Doctrine\Models\UserEntity)

	usersManager:
		class: IPubTests\Doctrine\Models\UsersManager(@userCrud)

doctrine:
	metadata:
		IPubTests\Doctrine: %appDir%IPubTests/Doctrine/models
