services:
	userCrud:
		factory: @doctrineCrud.crud::create(IPubTests\DoctrineCrud\Models\UserEntity)

	articleCrud:
		factory: @doctrineCrud.crud::create(IPubTests\DoctrineCrud\Models\ArticleEntity)

	usersManager:
		class: IPubTests\DoctrineCrud\Models\UsersManager(@userCrud)

	articlesManager:
		class: IPubTests\DoctrineCrud\Models\ArticlesManager(@articleCrud)

nettrineOrmAnnotations:
	paths:
		- %appDir%IPubTests/DoctrineCrud/models
