services:
	userCrud:
		factory: @doctrineCrud.crud(IPubTests\DoctrineCrud\Models\UserEntity)
	articleCrud:
		factory: @doctrineCrud.crud(IPubTests\DoctrineCrud\Models\ArticleEntity)

	usersManager:
		class: IPubTests\DoctrineCrud\Models\UsersManager(@userCrud)
	articlesManager:
		class: IPubTests\DoctrineCrud\Models\ArticlesManager(@articleCrud)

doctrine:
	metadata:
		IPubTests\DoctrineCrud: %appDir%IPubTests/DoctrineCrud/models
