includes:
    - phpstan.base.neon

parameters:
    level: max

    paths:
        - ../tests/cases/

    bootstrapFiles:
        - phpstan-bootstrap.php

    scanDirectories:
        - ../src

    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php
