parameters:
    phpVersion: 80100
    tmpDir: ../var/tools/PHPStan

    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true

    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkInternalClassCaseSensitivity: true
